/* initializing 3 fonts */

@font-face{

	font-family: Franklin;
	src:url(fonts/FRABK.ttf);

}

@font-face{
	font-family: Franklin Medium;
	src:url(fonts/framd.ttf);

}

@font-face{
	font-family: Franklin Heavy;
	src:url(fonts/FRAHV.ttf);
}


/*navigation bar formatting*/
li {
	display: inline;
}

li:hover{
	text-decoration: underline;
}

#navbar {

	margin: 0px 350px 0px;

	font-family:"Franklin";

	text-align: center;
	list-style-type: none;
	padding-bottom: 20px;
	border-bottom: solid;

}

/*navigation bar link formatting*/
.button {
	font-family:"Franklin Heavy";
	text-align: center;
	color:black;
	font-size: 15px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 20px;
	text-decoration: none;
}


/*navigation bar icons formatting*/
img.icons {
	vertical-align: bottom;
}



/*content below nav bar formatting*/

.content{

	border-bottom: solid;
	border-bottom-width:0.5px;
	margin: 0px 350px 0px;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;
	font-family:"Franklin";

}

/*links in the content*/
.content > a{
	padding: 4px 12px;
	display:inline-block;
	border-style: solid;
	border-width: 1px;
	color:black;
	text-decoration: none;
	box-shadow: 3px 5px 10px grey;
	font-size: 24px;
}


/*title of page formatting*/
h2 {
	font-weight:bold;
	font-size:30px;
	text-align:left;
	line-height: 6px;

}

/*Back to browse button formatting*/

h3 {

	text-align:left;
	font-size: 13px;
	text-shadow:2px 2px 2px #D0D0D0;

}

h3 > a {
	text-decoration: none;
	color:black;
}

h4 {

	grid-column-start:3;
	grid-column-end: 4;
	grid-row-start:2;
	grid-row-start: span 1;

	text-align:right;
	font-size: 13px;
	text-shadow:2px 2px 2px #D0D0D0;
	text-decoration: none;

}

h4 > a {
	text-decoration: none;
	color:black;
}


.header {

	float: right;
	display: inline-block;

}

/*browsing page flavor button formatting*/

.flavor{

	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	color:black;
	border-style:solid;
	padding: 3px 5px;
	box-shadow: 2px 4px 10px grey;
}

/*browse page grid formatting*/

.gridcontainer {
	display:grid;
	grid-template-columns:auto auto auto;
	grid-row-gap:60px;
}

/*browse page each grid item formatting*/

.griddetail {
	display:grid;
	grid-template-columns: 370px 70px;
	grid-template-rows: 150px 150px 40px 30px 10px;

	padding-left:40px;
}

/*detail page - large product image formatting*/

.item-a{
	grid-column-start:1;
	grid-column-end: span 1;
	grid-row-start:1;
	grid-row-start: span 2;

	text-align: left;
	padding-right:30px;

}

/*detail page - product description text formatting*/

.item-b{

	font-family: "Franklin";
	grid-column-start:2;
	grid-column-end: span 2;

	display:block;


	margin-left: 150px;
	text-align: justify;
	font-size:14px;
	line-height: 15px;

}


/*detail page - category of choices e.g. glazing, quantity*/

.item-c{


	grid-column-start:2;
	grid-column-end: 3;
	grid-row-start:2;
	grid-row-start: span 1;

	margin-left: 150px;
	display:inline-block;
	text-align:left;

	font-size:15px;
	line-height: 25px;
}

/*detail page - each category formatting*/

.item-c-list{
	text-align: left;
	grid-column-start:2;
	grid-column-end: 4;
	float:left;
	border-bottom-style:solid;
	display:inline-block;
	width:255px;
	padding-bottom: 4px;
	border-width: 0.5px
}


/*detail page - drop down option formatting*/

.item-d{

	float:right;
	grid-column-start:3;
	grid-column-end: 4;
	grid-row-start:2;
	grid-row-end: span 1;

	font-size:15px;


	text-align: right;
	font-weight: bold;
	line-height: 25px;
	text-shadow: 2px 2px 2px #D0D0D0;
}

/*detail page - total price text formatting*/

.totalPrice {
	float:right;
	grid-column-start:3;
	grid-column-end: 4;
	grid-row-start:3;
	grid-row-end: span 1;

	font-size:16px;


	text-align: right;
	font-weight: bold;
	line-height: 25px;
	text-shadow: 2px 2px 2px #D0D0D0;

}

/*detail page - Add to cart button formatting*/

.item-e{

	cursor: pointer;

	float:right;
	grid-column-start:3;
	grid-column-end: span 1;
	grid-row-start:4;
	grid-row-end: span 1;

	text-align: center;

	font-size:17px;
	padding:3px;
	border-style:solid;
	box-shadow: 2px 4px 10px grey;
	margin-left: 235px


}

/*drop down button styling*/
select {
	border:none;
	background-color: transparent;
	font-family: "Franklin"
}

/*drop down content styling*/
.dropdown-content {

	position: absolute;
    display: none;
    background-color: white;
    border-style: solid;


 	float:right;
	grid-column-start:3;
	grid-column-end: span 1;
	grid-row-start:4;
	grid-row-end: span 1;

	font-size:15px;


	text-align: right;
	font-weight: bold;
	line-height: 25px;
	text-shadow: 2px 2px 2px #D0D0D0;

	padding-right:7px;
	padding-left: 7px;
	margin-left: 305px


}

option {
	text-align: right;
	font-family: "Franklin"
}

/*number of cart items*/
.itemNumber {
	display:inline;
	float:right;
	position: relative;
}

/*label styling*/
#item {
	display: inline-block;
	float:left;
	font-weight: bold;
}

#quantity {
	display: inline-block;
	float: center;
	margin-left: 140px;
	font-weight: bold;
}

#subtotal {
	display: inline-block;
	float: right;
	font-weight: bold;
}

#label {
	border-bottom: solid;
}


/*items in cart display styling*/

#cartItem {
	display: inline-block;
	float:left;
}

#itemStored {
	padding-bottom: 50px;
}

.bunCon {

	display: grid;

	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;

	align-items: auto;

	line-height: 12px;
	padding-bottom: 30px;
	padding-top:30px;
	border-bottom: solid;

}

/*items in cart flavor styling*/
.objectDes {

	font-size: 20px;
	display: block;
	text-align: left;
	padding-bottom: 30px;
}

/*items in cart glazing styling*/
.objectG {

text-align: left;
grid-column: 1;
display: block;

}

/*items in cart quantity number styling*/
.objectQ {
	
	font-size: 20px;
	grid-row: 1;
	grid-column: 2;
	display: block;

}

/*items in cart price styling*/
.objectP {

	font-size: 20px;
	text-align: right;
	grid-row:1;
	grid-column: 3;
	display: auto;
}


/*remove from cart button styling*/

.dButton {

	text-align: right;
	grid-column: 3;
	display: inline-block;
	text-decoration: none;
	border: none;
	background: white;
}

.dButton:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* total price text styling*/
.TotalPrice{


	font-weight: bold;
	float: right;
}






.popContainer{
	line-height: 5px;
	margin: auto;
	float:right;

	margin-right:100px;
 	font-family:"Franklin";
	border-style: solid;
	border-width: 0.5px;
	padding-left: 10px;
	padding-right: 10px;


}

#Checkout {

	display: block;

	font-size:17px;
	padding:5px;
	border-style:solid;
	box-shadow: 2px 4px 10px grey;
float:right;


}

#Checkout:hover {
	cursor: pointer;
}

#TotalPrice {

	font-size: 20px;

}