@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (max-width: 1000px){	


body{
	background: white;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

#iText {  /*introduction text*/

	color:red;
	font-size:60px;
	transform: translate(10%,0);
	width:50%;

	
}

.circleText {/*text in circle*/

	text-align: center;
	color:red;
	font-size: 10px;
    -webkit-transform: translate(-40%, -60%); 
    position: absolute;

}

#gridcon { /*content wrapper*/
	margin-top: 20%;
	display:grid;
	grid-template-columns: 70% 30%;
}

.projectheader { /*project page header text*/
	font-size: 20px;
}

#projects { /*project name list*/

		list-style-type: none;
}

#projectlist { /*project name list container*/

	cursor: pointer;

	margin-left: 5%%;

	color: red;
	font-size: 25px;

	line-height:40px;
	display:inline;

}

.outline { /*style change for outline*/

	color: transparent;
	-webkit-text-stroke-width: 0.1px;
   -webkit-text-stroke-color: grey;

	border-bottom: none;
}



#sideim { /*side image container*/
	grid-column:2;
	float: left;
	margin-right: 20%

}

#sideimage{ /*side image*/

	margin-top: 50%;
	width:400px;
}





#contentgrid { /*project page container grid*/
	display:flex;

	max-width: 100%

}

.content { /*project page text container*/
	margin: 3%;
	width:30%;
}

#images { /*project page images wrapper*/
	width:70%;
	margin-top:20%;
}

img{ /*images in project page*/
	padding-bottom: 5%;
	width:100%;

}

.back { /*back button*/

	position: fixed;
	transform: translate(0, -5%);
	color:red;
	text-decoration: none;
	background: white;
}

.projectText { /*project page text*/

	text-align: justify;
	line-height: 23px;
	font-size: 13px;

}

.projectName { /*project name in project page*/
	color:red;
	font-size: 40px;
}



}

}