@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (max-width: 500px){




body{
	background: white;
	font-family: 'Roboto', sans-serif;
		
	text-align: left;
}

#iText { 



	color:red;
	font-size:30px;
	transform: translate(10%,0);

	
}




}