



@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@media screen and (min-width: 501px){





body {

	cursor: crosshair;

	background: white;
	font-family: 'Roboto', sans-serif;
		
	text-align: left;
	display: block;
}

#gridcon {
	display:grid;
	grid-template-columns: auto auto;
}



.circleText {

	text-align: center;
	color:red;
	font-size: 20px;
    -webkit-transform: translate(-40%, -60%); 
    position: absolute;

}

#projects { /*project name list*/

		list-style-type: none;
}

#projectlist { /*project name list container*/

	cursor: pointer;

	margin-left: 80px;
	grid-column:1;
	color: red;
	font-size: 40px;

	line-height:70px;
	display:inline;

}

#intro { /*p5 canvas*/

	display: block;
	padding-bottom: 10%

}


#sideim { /*side image container*/

	grid-column:2;
		margin-left:200px;
}


#sideimage{ /*side image*/

	float:left;
	margin-top: 200px;
	width:600px;
}


.outline { /*style change for outline*/

	color: transparent;
	-webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: grey;

	border-bottom: none;
}


img{ /*images in project page*/
	width:750px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}



#iText { /*introduction text*/

	transform: translate(20%,0);

	color:red;
	font-size:80px;
}


.projectName { /*project name in project page*/
	color:red;
	font-size: 80px;
}


#contentgrid { /*project page container grid*/
	margin:3%;
	display:flex;

}

#content { /*project page text container*/
	position: fixed;
}

#images { /*project page images*/

		width:50%;

}

.back { /*back button*/

	color:red;
	text-decoration: none;
}

.projectText { /*project page text*/

	text-align: justify;
	line-height: 25px;
			width:85%;


	font-size: 12px;

}

}